<web-app version="2.4">

  <servlet>
    <servlet-name>employee</servlet-name>
    <servlet-class>system.EmployeeControllerT3</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>employeedetails</servlet-name>
    <servlet-class>system.EmployeeControllerT4</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>employeedetails</servlet-name>
    <url-pattern>/employeedetails</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>employeedetailsa</servlet-name>
    <servlet-class>system.EmployeeControllerT4a</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>employeedetailsa</servlet-name>
    <url-pattern>/employeedetailsa</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>employeedetailsb</servlet-name>
    <servlet-class>system.EmployeeControllerT4b</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>employeedetailsb</servlet-name>
    <url-pattern>/employeedetailsb</url-pattern>
  </servlet-mapping>
</web-app>